.sidebar {
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
  }
  
  .sidebar h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .sidebar div {
    margin-bottom: 10px;
  }
  
  .sidebar input[type="checkbox"],
  .sidebar input[type="radio"] {
    margin-right: 10px;
  }
  
  .sidebar span,
  .sidebar div {
    font-size: 16px;
  }
  